body{
	background-image: url('./Untitled90_20221204112830.png ');
	background-repeat: repeat ;
	background-size: 999px;
}
h1{
	color: coral;
	font-size :100px;
}
h2{
	color:#482E4F;
	transition-delay :9s;
}
h2:hover{
	color: #58FF00;
}
.btn1{
	background :#000646 ;
	color :#004638;
	transition-duration :1s;
}
.btn1:hover{
	background :#00096D;
	color:#04E8FF;
}
h3{
	color: #350D40;

}
h3:hover{
	color:#000000;
}
h5{
	font-size :30px;
}
h6{
	font-size :50px;
	background :#000433;
	color: #00E2FF;
}
.ok{
	position: absolute ;
	top:3500px;
	left: 10px;
 width: 400px
}
h15{
	position :absolute ;
	font-size :40px;
	color: lime;
	background :black;
	top:3300px;
}
h7{
	position: absolute;
	top:2500px;
	color: #48FFC8
}
canvas{
	background :#404040;
	position :absolute ;
	top:2550px;
}
.b1{
	position :absolute ;
	top:2930px;
	left:200px;
}
.b2 {
	position: absolute;
	top: 2930px;
	left: 240px;
}

.b3 {
	position: absolute;
	top: 2930px;
	left: 280px;
}
canvas-text{
	color:white ;
}
